**/.DS_Store
**/bin
**/obj
**/project.lock.json
csharp/.gradle/*
csharp/build/*
csharp/packages/*
csharp/**/Scripts/*
java/.gradle/*
java/java.iml
java/java.ipr
java/java.iws
java/talisman.out
java/build
